@import '../../index.scss';

.recordPreview {
    border: 2px solid black;
    background-color: $headerColor;
    border-radius: 20px;
    h3 {
        font-family: $textFont;
        font-weight: bold;
    }
    h4 {
        font-family: $textFont;
        font-size: 1rem;
    }
    button {
        background-color: $headerColor;
        border-radius: 5px;
    }
    .likeDislike {
        button {
            width: 70px;
        }
        .like {
            background-color: rgb(109, 207, 109);
        }
        .dislike {
            background-color: $dangerColor;
        }
    }
}