@import '../../index.scss';

.header {
    background-color: $headerColor;
    border: 2px solid black;
    height: 10vh;
    h1 {
        color: $titleColor;
        font-family: $titleFont;
        font-size: 2.5rem;
    }
}
