$headerColor:  #fdf8bd;
$titleColor: #000000; 
$titleFont: 'Donegal One', serif;
$backgroundColor: #78ECD7;
$successColor:  rgb(101, 197, 101);
$dangerColor: rgb(228, 92, 92);
$textFont: 'DM Mono', monospace;