@import '../../index.scss';

.nav {
    button {
        background-color: $successColor;
    }
    .navLinks {
        color: #000000; 
        text-decoration: none;
        font-family: $textFont;
        font-weight: bold;
    }
}