@import '../../index.scss';

.nav {
    border: 2px solid black;
    button {
        background-color: $successColor;
    }
    .navLinks {
        color: #000000; 
        text-decoration: none;
        font-family: $textFont;
        font-weight: bold;
        font-size: 1rem;
        
    }
}